$facebook: #3b5998;
$black: #1c1c1f;
$offblack: #1b1b1b;
$gray: #88898c;
$lightgray: #dfe0e6;
$darkgray: #222326;
$error: #bd3200;
$green: #1db954;
$lightgreen: #1ED65E;
$seagreen: #8EF1E0;
$pink: #ff32c1;
$purple: #7c25f8;
$midnightblue: #121d3c;
