body {
  font-family: $body;
  font-weight: 500;
}

input {
  border: 1px solid $lightgray;
  box-sizing: border-box;
  border-radius: 1px;
  padding: 12px 10px;
  margin: 8px;

  &::-webkit-input-placeholder { color: $gray; }
  &::-moz-placeholder { color: $gray; }
  &:-ms-input-placeholder { color: $gray; }
  &:-moz-placeholder { color: $gray; }
}

h1, h2 {
  font-weight: 700;
  font-family: $title;
}
