.hero-gradient {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;

  background: $pink;
  background: -moz-linear-gradient(45deg, $pink 0%, $purple 100%);
  background: -webkit-linear-gradient(45deg, $pink 0%, $purple 100%);
  background: linear-gradient(45deg, $pink 0%, $purple 100%);

  h2 {
    font-size: 48px;
  }
}

.slider {
  display: flex;
  align-items: center;
  width: 80%;
  height: 300px;
  position: relative;
  overflow-x: hidden;
  position: relative;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
}

.shown-slide { left: 0 }
.left-slide { left: -100%; }
.right-slide { left: 100% }
.slide-transition { transition: left 1s; }

.slider-left-arrow, .slider-right-arrow {
  position: absolute;
  z-index: 5;
  font-size: 120px;
  font-family: $title;
  font-weight: 300;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    cursor: pointer;
  }
}

.slider-left-arrow {
  left: 0;
}

.slider-right-arrow {
  right: 0;
}

.slider-btns {
  display: flex;

  li {
    width: 12px;
    height: 12px;
    background-color: darken($lightgray, 5%);
    border-radius: 50%;
    margin: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  .selected {
    background-color: #fff;
    position: relative;
  }

  .selected:after {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
}

.hero-btns {
  display: flex;
  padding: 20px 0;
}

.stopify-primary-btn, .stopify-secondary-btn {
  padding: 0 45px;
  margin: 5px 15px;
}

.stopify-primary-btn {
  background-color: $purple;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($purple, 10%);
  }
}

.stopify-secondary-btn {
  box-sizing: border-box;
  border: 2px solid #fff;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.stopify-learn {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $seagreen;
  font-family: $title;

  h4 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
    border-bottom: 1px solid $seagreen;
    padding-bottom: 1px;
  }

  div {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.12), 0 1px 2px rgba(100, 100, 100, 0.24);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 300;
    line-height: 0;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  &:hover {
    cursor: pointer;
  }
}
