.signup-form-box, .login-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  @include for-phone-only {
    width: 90vw;
  }
}

.fb-signup-btn, .submit-signup-btn, .fb-login-btn, .submit-login-btn {
  color: #fff;
  text-transform: uppercase;
  display: flex;
  margin: 10px 5px;
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 1.5px;
  font-family: $title;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  height: 50px;
}

.fb-signup-btn, .fb-login-btn {
  background-color: $facebook;
  width: 100%;
}

.submit-signup-btn, .submit-login-btn {
  background-color: $green;
}

.submit-login-btn {
  width: 200px;
}

.submit-login-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 10px;

  p {
    color: $gray;
    display: flex;
    align-items: center;
  }
}

.signup-title-box, .login-title-box {
  width: 100%;
  text-align: center;
  border-top: 1px solid $lightgray;
  padding: 7px 0;
  margin-top: 15px;
  position: relative;

  p {
    font-family: $title;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 40px;
  }
}

.signup-form, .login-form {
  display: flex;
  flex-direction: column;
  color: black;
  width: 100%;
}

.session-link {
  color: $green;
}
